@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800&family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #deeeef;
    --header-color: #bcdbdf;
    --blue-color: #235784;
    --green-blue-color: #99c8ce;
}

body {
    background-color: var(--main-color);
    font-family: 'Jura', sans-serif;
    margin: 0em;
}

/* header */
header {
    background-color: var(--header-color);
    /* padding: 0em 1em 0em 1em; */
}

header img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    border: 2px solid black;
}

header > #header-container {
    margin: 0em 10% 0em 10%;
    display: flex;
    align-items: center;
}

header #main-logo {
    flex-basis: 30%;
}

#main-logo {
    display: flex;
}

#main-logo-desc {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main-logo-desc > span:first-child {
    font-size: 2em;
    font-weight: 600;
}

header nav {
    width: 100%;
    flex-basis: 70%;
}

header nav > ul {
    padding: 0em;
    margin: 0em;
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
}

header li {
    flex-basis: 20%;
}

header li > a:visited {
    color: black;
}

header li > a {
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    padding: 2em 0em 2em 0em;
    transition: 0.25s;
}

header li > a:hover {
    background-color: var(--blue-color);
    color: white;
}

header li > a:active {
    background-color: var(--green-blue-color);
    color: var(--blue-color);
}

#window {
    margin: 5em 1em 0em 1em;
    background-color: #1e1e1e;
}

#window-line {
    background-color: #333533;
    display: flex;
    justify-content: flex-end;
}

#window-line > img {
    margin: 0.3em;
}

#window-minimize-button {
    background-color: #fca311;
    padding: 0.3em;
}

#window-full-screen-button {
    background-color: #2dc653;
    padding: 0.3em;
}

#window-close-button {
    background-color: #e01e37;
    padding: 0.3em;
}

#code-section {
    font-size: 3em;
    margin-left: 1em;
}

.code-line {
    display: block;
    color: #d4d4d4;
}

.code-line .code-number {
    color: #7e7975;
}

.code-line .comment {
    color: #669461;
}

.code-line .class-name {
    color: #4ec9b0;
}

.code-line .variable-name {
    color: #96d8fc;
}

.code-line .reserved-name {
    color: #c586bf;
}

.code-line .function-name {
    color: #dbd9a6;
}

.code-line .plain-text {
    color: #d38469;
}